-c platform_constraints.txt
skill-framework[ui]
answerrocket-client
numpy
pandas
matplotlib
sqlglot
jinja2
pytest
git+https://bitbucket.org/aglabs/ar-analytics.git@a9e61074f1697b6df7925368bbdbadb471a3d125#egg=ar-analytics